<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1><a href="{% url 'post-list' %}">My Django Blog</a></h1>
            
            <form action="{% url 'search-results' %}" method="GET">
                <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q|default_if_none:'' }}">
                <button type="submit">Search</button>
            </form>
            </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Django Blog</p>
    </footer>
    
    <script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>